# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.env

# Node.js / Vite
node_modules/
dist/
.npm/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/ 